// BC0097 bright purple
// 701D5F dark purple
// C90059 red
// 936080 mid grey purple
// 9B768E light purple
#app {
    .app-header {
        padding: 0 5vw 0.8rem;
        .name {
            font-size: 2.05rem;
            font-family: 'Oxygen', sans-serif;
            padding: 3.7rem 3vw 0.5rem 0vw;
            color: #701d5f;
            border-bottom: solid 1px #701d5f;
        }
    }
}

@media screen and (min-width: 769px) {
    .app-header {
        display: flex;
        justify-content: space-between;
    }
}
