#home {
    .home-image {
        img {
            width: 100%;
        }
    }
    .projects.list {
        padding: 1.6rem 0 2.6rem 0;
    }
}
@media screen and (min-width: 798px) {
    #home {
        .list {
            a {
                width: 23% !important;
            }
        }
    }
}
