$red: #c90059; // red
.highlight {
    color: $red !important;
}
.img {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.left {
    border-bottom: none !important;
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    .bottom {
        font-size: 0.7rem;
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p,
        a {
            color: #701d5f;
            opacity: 0.5;
            transition: opacity 0.75s;
        }
        a {
            font-size: 1.2rem;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.main-content {
    margin: 1rem 5vw;
    font-size: 0.825rem;
    font-weight: 400;
    border-top: solid 1px #cccccc;
    .sub-content {
        padding: 0.925rem 0;
        border-bottom: solid 1px lighten(black, 80%);
        .title-wrapper {
            padding: 3.1rem 0 1rem 0;
            .title {
                font-size: 1.95rem;
                font-family: 'Oxygen', sans-serif;
                color: lighten(black, 20%);
                color: #701d5f;
                &.one {
                }
                &.two {
                    margin: -0.3rem 0 0 0;
                    line-height: 2rem;
                }
                &.three {
                    margin: 0rem 0 0 0;
                    font-weight: 400;
                    font-size: 0.9rem;
                }
            }
        }
        .sub-header {
            display: flex;
            justify-content: space-between;
            a {
                font-style: italic;
                cursor: pointer;
                padding: 0 0.75vw 0.1rem 0.75vw;
                transition: color 0.5s;
                &:hover {
                    opacity: 1;
                }
            }
            p,
            a {
                color: #701d5f;
                transition: opacity 0.5s;
                opacity: 0.5;
            }
        }
        &.top {
            padding-bottom: 2rem !important;
        }
        .blurb-wrapper {
            font-weight: 400;
            color: lighten(black, 20%);
            padding-bottom: 1.6rem;
            .blurb {
                padding-bottom: 1rem;
                line-height: 1.15rem;
                .bold {
                    // border: solid blue 3px;
                    color: #701d5f;
                    font-weight: 600;
                    // color: $red;
                    opacity: 0.6;
                }
                a {
                    margin: 0 0 1rem 0;
                    font-size: 0.9rem;
                    transition: opacity 0.5s;
                    font-weight: normal;
                    opacity: 0.8;
                    &.active {
                        border-bottom: solid 1px #cccccc;
                        color: #c90059;
                        font-weight: bold;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .top {
        padding-bottom: 55px !important;
    }
}

@media screen and (min-width: 769px) {
    .top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .sub-header {
            width: 100%;
            margin-bottom: 1.6rem;
        }
        .left,
        .right {
            width: 48%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .left {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .left {
        width: 30%;
        .fixed {
            position: fixed;
            top: 40px;
        }
    }
    .list {
        a {
            width: 23%;
        }
        .list_item {
            width: 100%;
        }
    }
}
