#nav {
    display: flex;
    a {
        padding: 0.3rem 2vw;
        margin: 0 0 1rem 0;
        font-size: 0.8rem;
        transition: opacity 0.5s;
        font-weight: normal;
        color: $dark_purple;
        &.active {
            border-bottom: solid 1px #cccccc;
            color: #c90059;
            font-weight: bold;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

@media screen and (min-width: 769px) {
    #nav {
        align-self: flex-end;
    }
}
