#resume {
    flex-wrap: wrap;
    .bold {
        font-weight: bold;
    }
    .sub-content.top {
        width: 100%;
        border-bottom: none;
        padding-bottom: 0.9rem !important;
    }
    #frontend {
        padding-bottom: 1.6rem !important;
    }
    .resume.img {
        height: 300px;
    }
    .resume_download {
        font-style: normal !important;
        margin: 0 0 1rem;
        padding: 0 0 0.5rem !important;
        cursor: pointer;
        a {
            color: #c90059 !important;
            opacity: 1 !important;
        }
        i {
            margin-right: 0.5vw;
        }
    }
    .sub-nav {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        p {
            margin: 0 0 1rem 2vw;
            color: #701d5f !important;
            cursor: pointer;
            transition: color 1s;
            &:hover {
                color: #c90059 !important;
            }
            &:focus {
                color: #c90059 !important;
            }
        }
    }
    .sub-content {
        .title {
            font-size: 1.5rem;
            padding: 0.5rem 0 1rem;
        }
        p {
            color: lighten(black, 25%);
        }
    }
    #education {
        a {
            color: #c90059;
            opacity: 1;
            transition: opacity 0.5s;
            &:hover {
                opacity: 0.5;
            }
            &:focus {
                color: #c90059;
            }
        }
        p:nth-child(1n + 2) {
            padding: 0.25rem 0;
        }
    }
    #travels {
        border-bottom: none !important;
    }
}

@media screen and (max-width: 768px) {
    #resume {
        .left {
            display: none;
            visibility: hidden;
        }
    }
}

@media screen and (min-width: 769px) {
    #resume {
        display: flex;
        .right {
            width: 70%;
        }
    }
}
